<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kurv</title>
    <link rel="stylesheet" type="text/css" href="style3.css">

</head>
<div th:replace="header">...</div>
<body>
<div class="row" align="center">
    <div class="column3" align="center">
    <h2>Valgte genstand er lagt i kurven</h2>
        <br>
        <form method="get" action="/shop">
            <button type="submit">Gå tilbage!</button>
        </form>
    </div>
</div>

</body>
</html>