
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Adminstrer shoppen</title>
    <link rel="stylesheet" type="text/css" href="style3.css">

</head>
<div th:replace="header">...</div>
<body>
<div class="row" align="center">
    <div class="column3" align="center">

        <h2>Adminstrer shop</h2>
        <br>
        <table class="tables2" align="center">
            <tbody>
            <td>
                <form method="GET" action="/addItem">
                    <button type="submit">Tilføj shop inventar</button>
                </form>
            </td>
            <td>
                <form method="get" action="/deleteItem">
                    <button type="submit">Slet shop inventar</button>
                </form>
            </td>
            <td>
                <form method="get" action="/updateItem">
                    <button type="submit">Opdater inventar beskrivelse</button>
                </form>
            </td>
            </tbody>
        </table>
</body>
</html>