
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Adminstrer personale</title>
    <link rel="stylesheet" type="text/css" href="style3.css">

</head>
<div th:replace="header">...</div>
<body>
<div class="row" align="center">
    <div class="column3" align="center">

        <h2>Adminstrer medarbejdere</h2>
        <br>
<table class="tables2" align="center">
    <tbody>
    <td>
        <form method="GET" action="/addStaff">
            <button type="submit">Tilføj medarbejder</button>
        </form>
    </td>
    <td>
        <form method="get" action="/deleteStaff">
            <button type="submit">Slet medarbejder</button>
        </form>
    </td>
    <td>
        <form method="get" action="/updateStaff">
            <button type="submit">Opdater medarbejderinfo</button>
        </form>
    </td>
    </tbody>
</table>
</body>
</html>