<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="style2.css">



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<div th:replace="header">...</div>


<body>



<div class="card" tr th:each="player: ${players}" style="width:200px">


    <img class="card-img-top" src="https://3.bp.blogspot.com/-qDc5kIFIhb8/UoJEpGN9DmI/AAAAAAABl1s/BfP6FcBY1R8/s320/BlueHead.jpg" alt="Card image" style="width:100%">
    <div class="card-body">

        <tbody>

        <div class ="card1">
        <thead>
        <tr> Navn: </tr>
        </thead>

        <tr>
            <td th:text="${player.getName()}"></td>
        </tr>
        </div>

    <div class ="card2">
        <thead>
        <tr>Alder: </tr>
        </thead>

        <tr>
            <td th:text="${player.getAge()}"></td>
        </tr>
    </div>

    <div class ="card3">
        <thead>
        <tr>Trøjenummer: </tr>
        </thead>

        <tr>
            <td th:text="${player.getId()}"></td>
        </tr>
    </div>

    <div class ="card4">
        <thead>
        <tr>Position: </tr>
        </thead>

        <tr>
            <td th:text="${player.getPosition()}"></td>
        </tr>
    </div>

    <div class ="card5">
        <thead>
        <tr>Nationalitet: </tr>
        </thead>

        <tr>
            <td th:text="${player.getNationality()}"></td>
        </tr>
    </div>

    </tbody>


</div>
</div>




</body>
</html>