<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>
    <link rel="stylesheet" href="/style.css">


</head>

<div th:replace="header">...</div>

<body>

<!-- First Container -->
<div class="bg1 container-fluid text-center">
    <h3 class="margin">Hvem er vi</h3>
    <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.15752-9/131503600_801204690427986_3431619101236697406_n.png?_nc_cat=102&ccb=2&_nc_sid=ae9488&_nc_ohc=OIEVK2khiywAX8M_6ol&_nc_ht=scontent-arn2-1.xx&oh=96306f5607e80dd0a0605a7bf58f81a6&oe=6000BDC9" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Vi er FF20</h3>
    <br>
</div>

<div class="container-fluid bg-3 text-center">
    <br>
    <h3 class="margin">Klub nyheder</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Der er indkaldelse til Generalforsamling den 21. december 2020</p>
            <img src="https://vesco.dk/media/11226/godtmode_course_image.jpg" class="img-responsive margin" style="width:100%" alt="Image" width=width="350" height="350">
        </div>
        <div class="col-sm-4">
            <p>Klubben kan med glæde annoncere at Julius Mandas er den nye cheftræner.</p>
            <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.15752-9/131642910_2572465689665579_3087510406514682315_n.png?_nc_cat=110&ccb=2&_nc_sid=ae9488&_nc_ohc=mtifQ9EMzNsAX9Mq9Kw&_nc_ht=scontent-arn2-1.xx&oh=94f21c46c6cf06527a6541d88dfeb7f1&oe=6000D0CD" class="img-responsive margin" style="width:100%" alt="Image" width=width="350" height="350">
        </div>
        <div class="col-sm-4">
            <p> FF20's Nye hjemme og ude trøje</p>
            <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.15752-9/131907619_859999224792547_2998177974259108505_n.png?_nc_cat=104&ccb=2&_nc_sid=ae9488&_nc_ohc=o3I8ZqDRqvMAX9qwLBd&_nc_ht=scontent-arn2-1.xx&oh=f90171678d2beefb69e7968ce0d2e1e1&oe=5FFFA66A" class="img-responsive margin" style="width:100%" alt="Image" width=width="350" height="350">
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <br>
    <p>Kontakt klubben: Email: jonasmørkhøjhansen@gmail.com     Tlf: +45 2129 6665 </p>
</footer>


</body>
</html>

